@import "variables";
#header {
    background-color: $blue-color;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    .navbar-brand {
      padding: 5px 15px;
    }
    a {
      color: $black-5;
      padding: 10px 15px;
      .brand-img {
        height: 40px;
        width: 40px;
      }
    }
    .navbar-toggle {
      border: none;
      background-color: transparent;
      &:hover,
      &:focus{
       background-color: transparent;
     }
     
     .icon-bar {
       background-color: $white-color;
     } 
   }
   .profile-img {
     height: 30px;
     width: 30px;
     border-radius: 5px;
   }
}
.main-container {
  margin: 80px 20px;
  min-height: 500px;
  
  .form-container {
    margin-top: 30px;
  }
}

.footer {
    text-align: center;
    background: $blue-color;
    font-size: 15px;
    padding: 10px;
    color: $white-color;
}
