#header {
    background-color: #0099CC;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

#header a {
    color: #ffffff;
}

.main-container {
  margin-top: 51px;
}

.footer {
    text-align: center;
    background: #0099CC;
    font-size: 15px;
    padding: 10px;
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.form-container {
  margin-top: 25%;
}